<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <ul class="nav navbar-nav " routerLinkActive="active">
      <li ><a class="navbar-brand">CRUD</a></li>
      <li ><a routerLink="addempleado">Nuevo Empleado</a></li>
      <li ><a routerLink="listempleado">Listar Empleados</a></li>
      <li ><a routerLink="searchempleado">Buscar Empleado</a></li>
      <li ><a routerLink="adddepartamento">Nuevo Departamento</a></li>
      <li ><a routerLink="listdepartamento">Listar Departamento</a></li>
      <li ><a routerLink="searchdepartamento">Buscar Departamento</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>