<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Departamentos</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center" >
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let departamento of departamentos">
                        <td>{{departamento.id}}</td>
                        <td>{{departamento.nombre}}</td>
                        <td>{{departamento.descripcion}}</td>
                        <td>
                            <button (click)="Modificar(departamento)" class="btn btn-info">Actualizar</button>
                            <button (click)="Eliminar(departamento)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>